[user]
	email = amit.handa@doordash.com
	name = amit handa
[push]
	default = simple
[core]
	editor = vim
[credential]
	helper = osxkeychain
[branch]
	autosetuprebase = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[hub]
	protocol = https
[credential "https://github.com/doordash"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential

[credential "https://github.com/amit-handda"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com/amit-handda"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
