[user]
	email = amit.handa@doordash.com
	name = amit handa
[push]
	default = simple
[core]
	editor = vim
	compression = 0
	packedGitLimit = 8192m
	packedGitWindowSize = 8192m
	compression = 9
	compression = 9
#[pack]
#	deltaCacheSize = 2048m
#	packSizeLimit = 4096m
#	windowMemory = 4096m
[credential]
	helper = osxkeychain
[branch]
	autosetuprebase = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[hub]
	protocol = https
[credential "https://github.com/doordash"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://github.com/amit-handda"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com/amit-handda"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[http]
	postBuffer = 524288000
