# theme options: neobones_light*, zenwritten_light, Belafonte Day**, Builtin Solarized Light*, CLRS*, coffee_theme*
theme = Novel
cursor-color = black
cursor-style = block
cursor-style-blink = false
shell-integration-features = no-cursor

keybind = super+ctrl+shift+h=goto_split:left
keybind = super+ctrl+shift+l=goto_split:right
keybind = super+ctrl+shift+k=goto_split:top
keybind = super+ctrl+shift+j=goto_split:bottom
